@media screen and (max-width:576px) {

    .section-ptb {
        margin-top: 80px;
    }

    .section-title {
        font-size: 2.25rem;
    }

    /*** Header Style ***/
    .navbar,
    .nav-item {
        flex-direction: column;
    }

    .barnd-name {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    .nav-link {
        padding: 12px 0;
    }

    /*** Banner ***/
    .banner-title {
        font-size: 2.375rem;
    }

    /* Team Section */
    .teams {
        flex-direction: column;
    }

    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .team-image-container img {
        width: 100%;
    }

    .our-features {
        margin-left: 0;
        margin-top: 24px;
    }

    .feature-title {
        font-size: 2.25rem;
    }

    /* Facts Section */
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 44px;
    }

    .fact-card {
        width: 100%;
        padding: 16px;
    }

    .fact-number {
        font-size: 2.25rem;
    }

    .fact-name {
        font-size: 1rem;
    }
}

/* Medium Size Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .section-ptb {
        margin-top: 90px;
    }

    /* Team Section */
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin-left: 0;
        margin-top: 48px;
    }

    /* Facts Section */
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}