@media screen and (max-width:576px) {

    .section-ptb {
        margin-top: 50px;
    }

    .section-title {
        font-size: 2.25rem;
    }

    /*** Header Style ***/
    .navbar,
    .nav-item {
        flex-direction: column;
    }

    .barnd-name {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    .nav-link {
        padding: 12px 0;
    }

    /*** Banner ***/
    .banner-title {
        font-size: 2.375rem;
    }

    /* Team Section */
    .teams {
        flex-direction: column;
    }

    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .team-image-container img {
        width: 100%;
    }

    .our-features {
        margin-left: 0;
        margin-top: 24px;
    }

    .feature-title {
        font-size: 2.25rem;
    }

    /* Features Section */
    .features {
        flex-direction: column;
        gap: 48px;
    }

    .feature-architect img {
        width: 100%;
    }

    .experience-badge {
        position: relative;
        display: block;
        width: max-content;
        margin-left: unset;
        margin-top: unset;
        margin: -85px auto 0 auto;
        padding: 28px 48px;
        z-index: 1;
    }

    .experience-badge h3 {
        font-size: 2.8rem;
    }

    /* Facts Section */
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 44px;
    }

    .fact-card {
        width: 100%;
        padding: 16px;
    }

    .fact-number {
        font-size: 2.25rem;
    }

    .fact-name {
        font-size: 1rem;
    }

    /* Our Sponspors */
    .sponspors-companies {
        justify-items: center;
        gap: 38px;
        grid-template-columns: repeat(1, 1fr);
    }

    .sponspors-companies img {
        width: 38%;
    }
}

/* Medium Size Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .section-ptb {
        margin-top: 70px;
    }

    /* Team Section */
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin-left: 0;
        margin-top: 48px;
    }

    /* Features Section */
    .features {
        flex-direction: column;
        gap: 48px;
    }

    .feature-architect img {
        display: block;
        width: 80%;
        margin-left: auto;
    }

    .experience-badge {
        margin-left: auto;
    }

    /* Facts Section */
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    /* Our Sponspors */
    .sponspors-companies {
        justify-items: center;
        gap: 48px;
        grid-template-columns: repeat(3, 1fr);
    }
}